<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue js</title>
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <button 
            @click="agregarFruta"
        >
            Agregar
        </button>
        <br>
        <span>{{ nuevaFruta }}</span>

        <hr>
        <ul>
            <li 
                v-for="(fruta, index) in frutas" 
                :key="index"
                >
                <input type="number" v-model.number="fruta.cantidad">
                {{ fruta.nombre }} 
                <button @click="fruta.cantidad++">+</button>
                <span v-if="fruta.cantidad===0">Sin stock</span>
            </li>
        </ul>
        <h4>Total: {{ sumarFrutas }}</h4>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>