main {
    padding-top: 11em;
}
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
#admin-side-menu {
    width: 200px;
    padding-top: 11em;
    min-height: 100vh;
    overflow-y: auto;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.collapse {
    visibility: hidden;
}
.collapse.show {
    visibility: visible;
    display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}